<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1210276/pexels-photo-1210276.jpeg?auto=compress&cs=tinysrgb&w=400)">
  StarBnB
</div>

<div class="header">
  Pick your star and begin to live the dream
</div>

<div class="container">
  <div class="cards">
    <% @stars.each do |star| %>
      <div class="card">
        <%= cl_image_tag star.photo.key, alt: "Beyoncé Knowles", crop: :fill %>
        <div>
          <% full_name = "#{star.first_name} #{star.last_name}" %>
          <div class="link"><%= link_to full_name, star_path(star) %></div>
          <div class="details">
            <%= star.category %>
            <br>
            Price : <%= star.price %>€
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# <%= link_to "Create account", new_user_session %>
<%# <%= link_to "Sign in", user_session(current_user) %>
