<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/bokeh-lights-stars-banner-design_1048-11405.jpg?w=1060&t=st=1669285414~exp=1669286014~hmac=949c3b65aae62edd00df49355bc54bab5c5d952ceb0aa788f84c4fa427d2ed51)">
  StarBnB
  <br>
  <%= link_to "Add a STAR", new_star_path, class: "btn btn-gradient" %>
</div>

<div class="header">
  Pick your star and begin to live the dream
</div>

<div class="container">
  <div class="cards">
    <% @stars.each do |star| %>
      <div class="card">
        <%= cl_image_tag star.photo.key, alt: "Beyoncé Knowles", crop: :fill %>
        <div>
          <% full_name = "#{star.first_name} #{star.last_name}" %>
          <div class="link"><%= link_to full_name, star_path(star) %></div>
          <div class="details">
            <%= star.category %>
            <br>
            Price : <%= star.price %>€
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# <%= link_to "Create account", new_user_session %>
<%# <%= link_to "Sign in", user_session(current_user) %>
