<div class="container1">
  <h1>Ajouter une star</h1>

<<<<<<< HEAD
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
  data: {turbo: false}) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

   <div class="actions">
    <%= f.submit "Log out" %>
  </div>
<% end %>
=======
  <%= simple_form_for ([@star]) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :price %>
    <%= f.input :description, as: :text %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Enregistrer", class: "btn btn-gradient"%>
  <% end %>
  <br>
  <div><%= link_to "Se connecter", new_user_session_path, class: "btn btn-gradient" %></div>
  <br>
  <div><%= link_to "Retour à la liste", stars_path, class: "btn btn-gradient" %></div>
</div>
>>>>>>> master
