<h1 class="text-align">Ajouter une star</h1>

<%= form_for(resources, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Log in"%>
  </div>
<% end %>
