<div class="header"><%= @star.first_name %> <%= @star.last_name %></div>



<div class="container">
  <div class="cards_star">
    <div id="img">
      <div class="card_star">
        <%= cl_image_tag @star.photo.key, alt: "photo", crop: :fill %>
      </div>
    </div>
    <div class="card_star">
      <%= @star.description %>
    </div>
  </div>
  <div>
    <%= link_to "Réserver ici", new_star_reservation_path(@star), class: "btn-gradient" %>
  </div>
  <br>
  <br>
  <div>
    <%= link_to "Retour à la liste", stars_path, class: "btn-gradient" %>
  </div>
</div>
