<div class="container1">

  <h1>Toutes mes réservations</h1>
<br>

  <ul>
    <% @reservations.each do |reservation| %>
    <% id = reservation.star_id %>
    <% star = Star.find(id) %>
      <% full_name = "#{star.first_name} #{star.last_name}" %>
      <li><%= full_name %>
      <%= link_to "(Delete)", reservation_path(reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
      Reservation start on : <%= reservation.date_start %>
      <br>
      until : <%= reservation.date_end %>
      <br>
    <% end %>
  </ul>
  <%= link_to "Retour à l'index", stars_path, class: "btn btn-gradient" %>
  <br>
</div>


<%# <% full_name = "#{star.first_name} #{star.last_name}" %>
