
<div class="container1">
<h1>Détails de la réservation</h1>

<p>Price :
<%= @reservation.star.price %></p>


<p>Date :
du <%= @reservation.date_start %>
au <%= @reservation.date_end %></p>

  <%# <div> %>
    <%# <%= link_to "Retour à la liste", stars_path %>
  <%# </div> %>
  <div class = "gif" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dspviftat/image/upload/v1669383269/beyonc%C3%A9_mg3zkz.gif)"> </div>
  <%= link_to "Voir mes réservations", reservations_path, class: "btn btn-gradient" %>
</div>
