
<div class="container1">
<h1>Détails de la réservation</h1>

<%
start_string = @reservation.date_start.to_s
end_string = @reservation.date_end.to_s

date1 = Date.strptime(start_string, '%Y-%m-%d')
date2 = Date.strptime(end_string, '%Y-%m-%d')
%>

<p>Dates :
Du <%= date1.strftime('%d/%m/%Y')%> au <%= date2.strftime('%d/%m/%Y') %>
</p>


Price :
<%= @price %>€</p>

  <%# <div> %>
    <%# <%= link_to "Retour à la liste", stars_path %>
  <%# </div> %>

  <%= link_to "Voir mes réservations", reservations_path, class: "btn btn-gradient" %>
</div>
